@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333;
}

.bg-purple {
    background-color: #8b3797;
}

.bg-blue {
    background-color: #233a95;
}

.headerWrapper .header {
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.logoWrapper img {
    width: 100%;
    height: auto;
}

.headerWrapper .header .part2 .selectLocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 60px;
    min-width: 150px;
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px;
    padding: 10px 10px;
}

.headerWrapper .header .part2 .selectLocation .info{
    text-align: start;
    justify-content: flex-start !important;
}

.headerWrapper .header .part2 .selectLocation .label {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    line-height: 16px;
}

.headerWrapper .header .part2 .selectLocation .name {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    font-weight: 700;
    line-height: 16px;
}