@import "tailwindcss";

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

/* Loader Animation Styling here */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1.5s linear infinite;
}

.animation-delay-100 {
    animation-delay: 0.1s;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

/* The sidebar scrollbar in the admin dashboard */
/* app.css */

.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

/* for admin tooltip */
.clip-triangle-left {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

/* Add these to your global CSS */
.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}

.clip-triangle-left {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}